<app-header
  (openListModal)="openCarForm()"
  (openBookingModal)="openBooking()"
  (openMyListings)="openMyListings()"
  (openMyBookings)="openMyBookings()"
  (openLogin)="openLogin()"
  (openRegister)="openRegister()"
  (requestLogout)="handleLogout()"
  (goHome)="goHome()"
></app-header>

<main class="container-fluid" style="margin-top: 12px; min-height: calc(100vh - 100px);">
  <app-cars-list 
    [viewMode]="currentViewMode"
    (onBookCar)="openBooking($event)"
    (onEditCar)="openEditCar($event)"
    (onClose)="closeMyListings(); closeMyBookings()"
  ></app-cars-list>
</main>

<app-car-form
  [isOpen]="showCarFormModal"
  [editingCarId]="editingCarId"
  (close)="closeCarForm()"
></app-car-form>
<app-booking-modal
  [isOpen]="showBookingModal"
  [editingBookingId]="editingBookingId"
  [preselectedCarId]="preselectedCarId"
  (close)="closeBooking()"
></app-booking-modal>

<app-login-modal
  [isOpen]="showLoginModal"
  (close)="closeLogin()"
  (switchToRegister)="openRegister()"
  (success)="handleLoginSuccess()"
></app-login-modal>

<app-register-modal
  [isOpen]="showRegisterModal"
  (close)="closeRegister()"
  (switchToLogin)="openLogin()"
  (success)="handleRegisterSuccess()"
></app-register-modal>



